{# this is the place to add macros/functions #}

{%- macro headStuff(config, context, bodyClass) -%}
<!doctype html>
<html class="no-js" lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>{{context.metaTitle}} | {{config.titleSuffix }}</title>
        <meta name="description" content="{{config.metaDescription}}">
        <meta name="keywords" content="{{config.metaKeywords}}">
        <meta name="application-name" content="{{config.siteName}}" />
        <link rel='icon' href='//dn3nmb5yt1ysw.cloudfront.net/favicons/margo/favicon.ico' type='image/x-icon'/ >
    </head>
    <body lang="en">
{%- endmacro -%}